{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
    <!-- Navbar with logo center on mobile from https://stackoverflow.com/questions/19733447/bootstrap-navbar-with-left-center-or-right-aligned-items -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav-bar">
    <div class="container-fluid">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block">
                <!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand" href="#">GbgZoo<span class="subtext-logo">.se</span></a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar7">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
            <ul class="navbar-nav ms-auto flex-nowrap">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Animals</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Care Guides</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Pet Care Products</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Gallery</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">My Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="text-center">
    <span class="badge badge-dark badge-pill"> this is viewport center </span>
</div>
</header>
{% endblock %}