{% extends 'base.html' %}
{% load static %}




{% block content %}
<div class="container-fluid">
    <div class="row transparent">
        <div class="col information-area d-flex left custom-top-margin">
            <div>
                <h1 class="page-heading">Gothenburgs biggest selection of <br> reptiles and amphibians.</h1>
                <br>
                <a href="{% url 'animals' %}" class="btn btn-lg btn-success hvr-grow">Check out all our animals</a>
            </div>
        </div>
    </div>
    <div class="row transparent">
        <div class="col information-area d-flex custom-top-margin right justify-content-right">
            <div class="home-text-div">
            <h1 class="page-heading">All the information you need <br> to care for your pets.</h1>
            <br>
            <a href="#" class="btn btn-lg btn-success right hvr-grow">Check out our care guides</a>
        </div>
        </div>
    </div>
</div>    
{% endblock %}