{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %} 

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center animal-details-section box-shadow mb-4 text-white">
                <h2>Add a Review</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 animal-details-section box-shadow big-bottom-margin">
                <form  method="POST" action="{% url 'add_review' animal.id %}" class="form mb-4" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}                    
                </form>
                <div class="row">
                    <div class="text-center">
                        <a class="btn btn-lg btn-warning hvr-grow" href="{% url 'animals' %}">Cancel</a>
                        <button class="btn btn-lg btn-warning hvr-grow" type="submit">Add Review</button>
                    </div>
                </div>
            </div>            
        </div>
    </div>
{% endblock %}