{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        {% for animal in animals %}
            <div class="col-sm-6 image-link hvr-grow mb-4">
                <img class="animal-details-image box-shadow" src="{{ animal.image_url }}" alt="{{ animal.name }}">
                <h1><a href="{% url 'animal_details' animal.id %}"><span class="centered-image-text animal-logo-image-text">{{ animal.name }}</span></a></h1>
            </div>
            {% endfor %}    
    </div>      
</div>
{% endblock %}

