{% extends "base.html" %}
{% load static %}

    {% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="div text-white text-center animal-details-section box-shadow">
                    <img class="animal-details-image" src="{{ animal.image_url }}" alt="{{ animal.name }}">
                    <h2>{{ animal.name }}</h1>
                    <h4>{{ animal.latin_name }}</4>
                    <h4>Price: {{ animal.price }}SEK</h4>    
                    <h4>Diet: {{ animal.food }}</h4>
                    <h4>Temperament: {{ animal.temperament }}</h4>
                    <p>{{ animal.description }}</p>
                    
                    <a href="#" class="btn btn-large btn-warning">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

