{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        {% for animal in animals %}
        <div class="col-3">
            <div class="div text-white text-center">
                <h1>{{ animal.name }}</h1>
                <h2>{{ animal.latin_name }}</h2>
                <h2>{{ animal.food }}</h2>
                <h2>{{ animal.temperament }}</h2>
                <p>{{ animal.description }}</p>
                <img src="{{ animal.image_url }}" alt="{{ animal.name }}">
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

