{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row mb-4 justify-content-center">
        <div class="col">
            <a href="{% url 'all_animals_care' %}" class="btn btn-lg btn-warning hvr-grow"><i
                    class="fas fa-arrow-left"></i> Back to all Animals</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-white text-center animal-details-section box-shadow big-bottom-margin">
            <div class="row">
                <div class="col-md-5 col-sm-7 px-5 mb-4">
                    <img class="animal-details-image box-shadow" src="{{ animal.image_url }}" alt="{{ animal.name }}">
                </div>
                <div class="col-md-7 col-sm-8 px-5 left mb-4">
                    <div class="text-left underline-div">
                        <h2>{{ animal.name|title }}</h1>
                            <h5>(<em>{{ animal.latin_name }}</em>)</h5>
                    </div>
                    <div class="right info-list">
                        <ul>
                            <h4>Country: <em>{{ animal.country }}</em></h4>
                            <h4>Max Length: <em>{{ animal.max_length }}</em></h4>
                            <h4>Lifespan: <em>up to {{ animal.lifespan }} years</em></h4>
                            <h4>Price: <em>{{ animal.price }}SEK</em></h4>
                            <h4>Diet: <em>{{ animal.food }}</em></h4>
                            <h4>Temperament: <em>{{ animal.temperament }}</em></h4>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{ animal.description }}</p>

                        <a href="{% url 'add_to_cart' animal.id %}" class="btn btn-lg btn-warning hvr-grow">Add to cart</a>
                        <a href="{% url 'animal_care' animal.id %}"
                            class="btn btn-lg btn-warning hvr-grow">{{ animal.name|title }} Care Guide</a>
                            {% if user.is_superuser %}    
                                <a href="{% url 'edit_animal' animal.id %}" class="btn btn-lg btn-warning hvr-grow">Edit
                                {{ animal.name|title }}</a>
                                <a type="button" class="btn btn-lg btn-danger hvr-grow" data-toggle="modal" data-target="#exampleModal">
                                Delete {{ animal.name|title }}</a>
                            {% endif %}
                    </div>
                    <div class="col-12">
                        <form class="form" action="{% url 'add_to_cart' animal.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0" 
                                                    data-item_id="{{ animal.id }}" id="decrement-qty_{{ animal.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ animal.id }}"
                                                id="id_qty_{{ animal.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0"
                                                    data-item_id="{{ animal.id }}" id="increment-qty_{{ animal.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col">
                                    <a href="{% url 'animals' %}" class="btn btn-outline-black rounded-0 mt-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Cart">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Confirmation Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content text-white text-center animal-details-section box-shadow">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete {{ animal.name|title }}?</h5>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to permanently remove {{ animal.name|title }} from GbgZoo.se? This can NOT be undone!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning hvr-grow" data-dismiss="modal">Cancel</button>
              <a href="{% url 'delete_animal' animal.id %}" class="btn btn-danger hvr-grow">Delete
                {{ animal.name|title }}</a>
            </div>
          </div>
        </div>
      </div>

    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
    {% include '/workspace/MS4/animals/templates/includes/quantity_input_script.html' %}
    {% endblock %}