/*-- Google Fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

html {
    background: url(https://www.popsci.com/uploads/2019/03/18/MAWBLTWLVA5IIBN34YJYSH2L5A.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;    
    -o-background-size: cover;      
    background-size: cover;         
}

header {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*-- Navbar --*/
.navbar {
    height: 150px;
    background: rgba(0, 0, 0, 0.6) !important;
    width: 100%;
    margin: 0px 0px 50px 0px;
    padding: 0;
}

.navbar-brand {
    font-size: 50px;
    color: greenyellow !important;
    text-shadow: black 4px 4px;
    font-family: 'Otomanopee One', sans-serif;
}

.subtext-logo {
    font-size: 35px;
}

.navbar-nav li {
    font-size: 25px;
    font-family: 'Otomanopee One', sans-serif;
    
}

.navbar-nav>li>a {
    color: greenyellow !important;
    text-shadow: 2px 2px black;
}

.navbar-nav>li>a:hover {
    color: rgba(251, 255, 41, 0.9) !important;
}

/*-- Information sections --*/
.information-area {
    height: 400px;
    margin: 25px;
    padding: 10px;
}

.custom-top-margin {
    margin-top: 100px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.home-text-div{
    width: 100%;
}

.transparent {
    background: transparent;
}

.page-heading {
    color: #fff;
    text-shadow: black 5px 5px;
    font-size: 60px;
}

/*-- Footer --*/
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: greenyellow;
  }