{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container big-bottom-margin">
    <div class="row mb-4 justify-content-center">
        <div class="col">
            <a href="{% url 'all_animals_care' %}" class="btn btn-lg btn-warning hvr-grow"><i class="fas fa-arrow-left"></i> Back to all Care Guides</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="div text-white text-center animal-details-section box-shadow">
                <img class="animal-details-image" src="{{ animal.image_url }}" alt="{{ animal.name }}">
                <h2>{{ animal.name|title }}</h1>
                <h5>(<em>{{ animal.latin_name }}</em>)</h5>
                <h3 class="underline left">General Care:</h3>
                <p class="left">{{ care.care_guide }}</p>
                <br>
                <h3 class="underline right">Cage Setup:</h3>
                <p class="right">{{ care.cage_setup }}</p>
                <br>
                <h3 class="underline left">Lighting:</h3>
                <p class="left">{{ care.lighting }}</p>
                <br>
                <h3 class="underline right">Heating:</h3>
                <p class="right">{{ care.heating }}</p>
                <br>
                <h3 class="underline left">Feeding:</h3>
                <p class="left">{{ care.feeding_schedule }}</p>
                <br>
                <h3 class="underline right">Known issues:</h3>
                <p class="right">{{ care.known_problems }}</p>
                <br>
                <h3 class="underline">More Information:</h3>
                <p><a href="{{ animal.other_information }}" class="more-information-link hvr-grow" target="_blank" >{{ care.other_information_name|title }}</a></p>
                <br>
                <a href="{% url 'animal_details' animal.id %}" class="btn btn-lg btn-warning hvr-grow">View {{ animal.name|title }} in our store</a>
                {% if user.is_superuser %}
                    <a href="{% url 'edit_care' animal.id %}" class="btn btn-lg btn-warning hvr-grow">Edit {{ animal.name|title }} Care Guide</a>
                {% endif %}    
            </div>
        </div>
    </div>
</div>
{% endblock %}